[2013-07-20 14:02] arunoda opened #1 "ObjectID Support"

[2013-07-20 18:46] EricTheMagician opened #2 "Updating fails"
I cannot update an entry.

This is the code I am executing. It's embedded within a meteor method

[code]

The code above works when I enter it in the javascript console and it updates it properly. However, when I try to call it through Meteor.call, it fails with the following error

[code]

When I switch my collection back to a normal one, it works as expected.

[2013-07-20 21:22] arunoda commented on #2
Thanks for the bug report.
Let me look at this.

[2013-07-20 21:52] arunoda commented on #2
I just did a update. Can you check with this.

[2013-07-20 22:17] EricTheMagician commented on #2
It fixed it.

[2013-07-20 22:17] #2 closed, assigned to arunoda

[2013-07-20 22:19] EricTheMagician opened #3 "Dropping a table does not update the client"
When dropping all entries in a table directly from the mongo console/terminal (from meteor mongo), the client's database is not cleared.

[2013-07-20 22:21] arunoda commented on #3
Yes. This does not work until, we integrating Mongo Oplog. Starting next week.

[2013-07-20 22:22] EricTheMagician commented on #3
I didn't think that through all the way when I posed this issue.
I thought it was already implemented.

[2013-07-20 22:24] arunoda commented on #3
That's fine keep this opened, and other can see it.
I could, but I need to find major bugs before going into that:)

On Sun, Jul 21, 2013 at 3:52 AM, thejinx0r notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-07-22 10:47] olragon opened #4 "Are we forgetting Meteor.Collection options or am I missing something?"
http://docs.meteor.com/#meteor_collection

`new Meteor.Collection(name, [options])`

[2013-07-22 11:41] arunoda commented on #4
Yes. I forget to add that.
- I wonder we can add the connection parameter.
- ObjectID support is not available for SmartCollection
- transform function can be added without a problem

Once the ObjectId support has been added, I will add this.

On Mon, Jul 22, 2013 at 4:17 PM, Long Nguyen notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/aru

[2013-07-23 10:25] arunoda opened #5 "queue updates to a document until it gets inserted."

[2013-07-23 18:55] #5 closed, assigned to arunoda

[2013-07-25 10:28] raix opened #6 "LocalCollection cursor.js ln47 (master)"
I cant use mrt to test smart collections adding grounddb support so I forked master but gets:

[code]

[2013-07-25 10:50] #6 closed, assigned to nobody

[2013-08-04 06:21] arunoda commented on #3
Now this is supported with Oplog integration.
See for oplog integration: [Scaling Meteor](http://meteorhacks.com/lets-scale-meteor.html) with MongoDB Oplog

[2013-08-04 06:21] #3 closed, assigned to nobody

[2013-08-06 06:50] arunoda commented on #4
Full transform support now exists in the version after 0.2.6

[2013-08-06 07:00] arunoda opened #9 "Cursor with Limit"
When we've cursor with limit, after the limit has reached, we should not add new documents to the collection.
### With Sorting

If there is a sort we need to accept new documents and if those can be fit to the new limitedCursor, we need to add that  document and remove the document at the end of the cursor.
#### When Removed

Need to get the next available document from the db. May need a query-re

[2013-08-06 18:10] zvictor opened #10 "Mongo extensions (aggregation) support"
I am migrating my application to use Smart Collections and I faced the lack of aggregation support which I had already overcome using a snippet based on [meteor-mongo-extensions](https://github.com/jhoxray/meteor-mongo-extensions), so I decided to adapt this extension to work with Smart Collection.

My problem is that it was too easy to do I am afraid I am missing something else, so I created this

[2013-08-06 18:56] arunoda commented on #10
I think the the code in the gist is fine. Since we are talking to the same DB, you don't need to go with SmartCollection's mongo adapter.

I also think mapReduce returns the collection name as the result. And You can use SmartCollections to bring back the result to the client/server.

[2013-08-06 19:11] zvictor commented on #10
Excelent! =D

The data of the created collection will be propagated across mongo instances?

[2013-08-06 19:34] arunoda commented on #10
Are you using multiple mongos? I'm not sure about it.

If uses a replSet it should be, If sharded hope not.

[2013-08-06 19:35] #10 closed, assigned to nobody

[2013-08-09 11:17] arunoda opened #11 "Date and Subscriptions"
Sometimes documents with Date does not sent to client

Try with Oplog Enabed and Disabled.

[2013-08-09 22:40] zvictor commented on #10
Whatever we define mapReduce it has a big issue to overcome: jhoxray/meteor-mongo-extensions#4

[2013-08-13 20:00] thedracle opened #12 "Client not receiving updates made through server call."
I create a record via Minimongo, it gets placed in the database:

Using mongo Directly:
db.calls.find({ended:false})
{ "participants" : [    {   "_id" : "f58785da-7ed2-477f-bfa8-816f06987938", "role" : "call_owner",  "state" : "on_call" },  {   "_id" : "oCgsHB9jhptbEKucr",    "role" : "care_recipient",  "state" : "waiting" } ], "start_time" : ISODate("2013-08-13T19:53:55.709Z"), "ended" : false, "

[2013-08-14 01:54] arunoda commented on #12
This is a bug in smart-collections right now. I've scheduled to fix this today. If you use [oplog](http://meteorhacks.com/lets-scale-meteor.html) with smart-collections this problem will be gone.

See this as a reference: (from an internal discussion)

[2013-08-14 17:17] arunoda commented on #11
This works.

[2013-08-14 17:53] arunoda commented on #12
This issue is fixed in `0.2.12`. Try updating smart collections.

[2013-08-14 21:29] wescleveland opened #14 "Updating to latest version causes cpu to spike to 100% and stay there"
Hi,

I updated a meteor app's smart-collections version from 1.1.16 to the latest version today, and after deploying the cpu usage is stuck at 100%.  There is one fairly large collection so I expect cpu to be very high while that is initially loaded, but the app continued to climb in memory usage and cpu until it went unresponsive.

The only thing that had changed was updating smart-collections, s

[2013-08-14 22:10] arunoda commented on #14
Hmm, what is the SC version you've used? 0.2.13?

I have not done any benchmark with the recent release, Will do it tomorrow morning.

[2013-08-14 22:11] wescleveland commented on #14
Ya I was using 0.2.13.  I think benchmarks would be really helpful given the large number of changes that have happened recently.  I am going to walk through the versions of SC from 1.1.16 to current tonight and try to identify where this performance issue starts happening.

[2013-08-14 22:13] arunoda commented on #14
Can you please check with 0.2.12, I've added polling to 0.2.13 when you are doing update with a selector(without oplog). But you said, there was no updates.

Need to test a bit.

[2013-08-14 22:15] wescleveland commented on #14
Ok I'll test with 0.2.12 first

[2013-08-14 22:17] arunoda commented on #14
Cool.

On Thu, Aug 15, 2013 at 3:45 AM, Wes notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-14 22:26] arunoda commented on #14
Hi I just tested with this [test-suite](https://github.com/arunoda/stress-test-meteor). Things were as it is. BTW: It only does insert ops only.

Are you quite sure you are not doing update operations with a selector. If your app have many such queries. SC collection does hurt you as the normal Collections.

Enabling OPLOG solves it.

[2013-08-15 02:22] wescleveland commented on #14
Ok first off I enabled the oplog and exported its location before running the app and I went from SC v0.1.16 to 0.2.12, and everything seems ok.  I upgraded to v0.2.14 and cpu spiked back to 100% and the app stopped responding to requests.

Downgraded to 0.2.12 for now, let me know if you would like me to try anything.  I'd also like to try spinning up a cluster of processes on this machine to use

[2013-08-15 02:26] arunoda commented on #14
It helps. But before that we need to find the real issue in `0.2.13`. That means this hurts while OPLOG in the use right.

Can you please tell me some of the stuff your app does. some queries and update operations.

Thanks.

[2013-08-19 19:39] #12 closed, assigned to nobody

[2013-08-19 19:41] arunoda commented on #9
Fixed in 0bbadd7d2ba6246855fa83fef081020d94d69b80
Published at `0.2.21`

[2013-08-19 19:41] #9 closed, assigned to arunoda

[2013-08-20 01:16] arunoda opened #15 "0.3.0"
Make it compatible with Meteor.Collection.
Apply recommendations from David Glasser.

[2013-08-20 01:17] #15 closed, assigned to nobody

[2013-08-20 01:18] richieb commented on #15
Great. Keep up the excellent work, Mate.

[2013-08-20 01:21] arunoda commented on #15
Hey. Sorry for this.
This meant to be an milestone, so I deleted it.

Check here:
https://github.com/arunoda/meteor-smart-collections/issues/milestones

On Tue, Aug 20, 2013 at 6:48 AM, Richard notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-20 01:22] arunoda opened #16 "Field filtering support"
We need to filter fields in the changes too.

[2013-08-20 01:23] arunoda opened #17 "Use of Meteor._wrapAsync"
User callbacks needs to be wrapped with  - `Meteor.bindEnvironment`
- [x] Needs to add support in **serverCollection** if there is an callback argument passed
- [x]  In the **cursor** we need to cover forEach and map
- [x]  need to add support for **_observeChanges** in cursor

Some sample code - https://gist.github.com/arunoda/3c51d90dbbdc7e383e99

[2013-08-20 01:23] richieb commented on #16
No problem, so just this last item left. Still great! :)

[2013-08-20 01:24] arunoda commented on #16
No, some more to added. But they are minor issues. :)

[2013-08-20 01:25] richieb commented on #16
Okay, good to know.

[2013-08-20 01:27] arunoda opened #18 "Latency Compensation and Write Fence"
See related discussion with David Glasser

[2013-08-20 01:32] arunoda opened #19 "multiple observeChanges() in a cursor"
Currently there is only one observeChanges() can be called for a single cursor.

I've not checked with how Meteor.Collection works with this. If someone has use this? just tell me how it works.
- When you call second `observeChanges` does it reset the cursor again?
- Is new `observeChanges` hooks also get the initial docs list too, or only the changes

cc @glasser

[2013-08-20 01:33] arunoda opened #20 "Add skip support in find()"

[2013-08-20 01:34] glasser commented on #19
The state for the second observeChanges is entirely separate from the first (and from whatever may be going on with a forEach or something on the cursor).

[2013-08-20 01:36] arunoda opened #21 "RegExp fix in filtering out oplogs at first"
See: https://github.com/arunoda/meteor-smart-collections/blob/master/lib/mongo.js#L31

[2013-08-20 01:37] arunoda commented on #19
Got it.

I'll be equal to creating a new cursor and observing it again.

[2013-08-20 14:22] jamesdwilson opened #22 "Typo in README docs"
Effieciency - > Efficiency

[2013-08-20 17:12] #22 closed, assigned to nobody

[2013-08-20 17:12] arunoda commented on #22
Thanks.

[2013-08-22 01:56] arunoda commented on #16
added in: 5471d877307ed3712bee8caf402f8d57a8b5abbb
Published as version `0.2.22`

[2013-08-22 04:33] arunoda opened #23 "GeoPartial Queries"
Since, minimongo query selector does not supports [geo-partial](http://docs.mongodb.org/manual/reference/operator/query-geospatial/) queries this SmartCollections lacks it.

[2013-08-22 05:10] arunoda commented on #23
related to https://github.com/meteor/meteor/pull/443

[2013-08-22 05:14] arunoda commented on #23
For temporarily, I will move SmartCollection back to re-run cursor for write operations when it detects a GeoPartial Query.

[2013-08-22 05:15] arunoda opened #24 "Do query re-run for geopartial queries"
This is a temporary fix for #23

[2013-08-24 02:14] arunoda opened #25 "New Polling/Query-Rerun algorithm"
Place all the query-rerun & polling into a single place.
- Group cursors based on query
- Each cursor have a query reference, which you see the states and allow to snapshot
- Polling is simply as snapshotting all the queries
- when grouping, sort and limit also need to take care of
- snapshot() accepts an callback which helps to manage states in the cursor related to sorting and limiting

[2013-08-25 11:42] svasva commented on #14
i'm having the same issue. will try 0.2.12 now

[2013-08-25 12:00] svasva commented on #14
0.2.12 doesn't work for me either :(

[2013-08-25 12:05] arunoda commented on #14
Currently there are some issues with the performance.
Best version is so far is 0.2.20.

I'm releasing a new version this week with new simplified archi. We can see
some good benchmarks.

On Sunday, August 25, 2013, Vitaly A. Sorokin wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-25 12:09] svasva commented on #14
okay trying 0.2.20 now. i really want this in my production env... will have to scale really soon.
my app is https://coinex.pw bit(alt)coin exchange

[2013-08-25 12:11] svasva commented on #14
0.2.20 hangs with 100% CPU as well :(

[2013-08-25 12:20] svasva commented on #14
is there anything I can do to help to resolve this? my app doesn't do any updates on selectors other than {_id: xxx}

[2013-08-25 12:26] arunoda commented on #14
Can you please tell me about the load a bit.
How does is play with meteor collections.

And need query info too.

Did you add proper indexes?

On Sunday, August 25, 2013, Vitaly A. Sorokin wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-25 12:34] svasva commented on #14
Yep all my collections are indexed. It does usual inserts/updates (all updates are only for ID). OPLOG enabled.

[2013-08-25 12:35] svasva commented on #14
Is there anything I could do to find out on what collection exactly it goes to that infinite loop?

[2013-08-25 14:05] arunoda commented on #14
I'll release a new version in 2 days a new version, it will have a debug logs, then we can find out the reason?
Can you please till then?

In the meantime, can you please use [this tools](https://github.com/arunoda/meteor-ddp-analyzer) and send me a log. It should not with load, but I need to see what's going behind the scene.

Send me logs directly (email is my profile) if you are uncomfortable p

[2013-08-25 15:18] svasva commented on #14
I'll just wait for a new version.
Thanks!

[2013-08-25 15:38] arunoda commented on #14
Cool.

On Sun, Aug 25, 2013 at 8:48 PM, Vitaly A. Sorokin <notifications@github.com

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-27 11:27] svasva commented on #14
any update?

[2013-08-27 11:59] arunoda commented on #14
Shipping in 12 hours.
If this fix does not helps.
1. Lets see debug logs (which will be added to this release) and try to fix
2. If not, lets have a skype session with the app (if possible)

On Tue, Aug 27, 2013 at 4:57 PM, Vitaly A. Sorokin <notifications@github.com

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.c

[2013-08-27 12:00] svasva commented on #14
Awesome! Looking forward to it.

On Tue, Aug 27, 2013 at 3:59 PM, Arunoda Susiripala <
notifications@github.com> wrote:

[2013-08-27 20:54] svasva commented on #14
Hey @arunoda, i've sent you a skype contact request. Though going to get some sleep now and hopefully we can arrange a skype session tomorrow to get this going.
See you later :)

[2013-08-27 21:41] arunoda commented on #14
Yep. That should work. C ya later.

On Wed, Aug 28, 2013 at 2:24 AM, Vitaly A. Sorokin <notifications@github.com

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-27 23:25] arunoda commented on #14
Can you please tell me this.

Are you selecting a lot of documents with queries?

[2013-08-27 23:28] wescleveland commented on #14
fwiw one of my collections sends 35k documents to the client, which then queries to return 1k or so of those depending on filters, using 1.1.16 doesn't have a problem with this though.

[2013-08-27 23:34] arunoda commented on #14
Okay. That is the issue.(not with your app) For every subscription, SC will
load the data again. That's why the spike. I checked a lot.

This seems to be the issue. I'll try an way to fix this. Or even try
caching if that also didn't work.

On Wed, Aug 28, 2013 at 4:58 AM, Wes notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps:

[2013-08-27 23:36] wescleveland commented on #14
So each time a client connects the server reloads the smart collection?  Do regular meteor subscriptions do this?

[2013-08-27 23:39] arunoda commented on #14
Nop. not something like that.

SC does not cache docs, so everytime a client connect, it needs to send
initial dataset. So need to query the db again. (I think this is good use
case to cache documents, will add an option)

Meteor does caching, It doesn't need such an action.

On Wed, Aug 28, 2013 at 5:06 AM, Wes notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/a

[2013-08-27 23:45] wescleveland commented on #14
Ya, I was trying to figure out if the server is requerying mongo / repopulating smart collections every time a client connects.  A caching flag sounds like a great idea, I'll be first in line to test it!

[2013-08-28 01:53] arunoda commented on #14
cool. Around this week? start alert :)

On Wed, Aug 28, 2013 at 5:15 AM, Wes notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-28 08:57] svasva commented on #14
How it is going with the new version? I'm ready to try it out and awaiting for your contact authorization at skype.

[2013-08-28 09:38] arunoda commented on #14
Fortunately, I found the issue. This happens when you are loading some big no of documents. And smart collections reload those set of documents initially when new subscription happening.

This is not happens with the normal collections, since they do cache documents. I'm working on a optional caching algorithm hopefully, it will fix the issue.

I'll try my best to make it available within next 2 d

[2013-08-28 11:44] svasva commented on #14
That new-query-engine branch did the trick, it is working now at my production app! Investigating the performance impact now, will report later.

[2013-08-28 12:00] svasva commented on #14
okay this is awesome!
![screen shot 2013-08-28 at 15 59 31](https://f.cloud.github.com/assets/937166/1041732/6701809e-0fd9-11e3-8ec7-7101768c6a9c.png)

[2013-08-28 12:43] arunoda commented on #14
Awesome. I will keep working on the optimizations.

On Wednesday, August 28, 2013, Vitaly A. Sorokin wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-28 14:50] wescleveland commented on #14
I am showing the same drop in load!  Things look great, I am going to stress test a bit through today and watch things, but so far so good.

[2013-08-28 15:53] arunoda commented on #14
:+1:

Cool Cool. Stay tune for next few days too.

[2013-08-29 05:04] arunoda commented on #25
added with version 0.3.x

[2013-08-29 05:04] #25 closed, assigned to nobody

[2013-08-29 05:05] arunoda commented on #19
added with 0.3.x

[2013-08-29 05:05] #19 closed, assigned to nobody

[2013-08-29 05:05] arunoda commented on #17
Used in **_observeChanges** with 0.3.x

[2013-08-29 05:06] #11 closed, assigned to nobody

[2013-08-29 05:46] #21 closed, assigned to nobody

[2013-08-31 01:41] shinank opened #26 "Error using Smartcollections"
I am getting this error when I add smart-collections to my project and configured my app to use them

W20130829-22:19:39.970(-5)? (STDERR) events.js:71
W20130829-22:19:40.084(-5)? (STDERR)         throw arguments[1]; // Unhandled 'error' event
W20130829-22:19:40.084(-5)? (STDERR)                        ^
W20130829-22:19:40.085(-5)? (STDERR) TypeError: Cannot call method 'added' of undefined
W20130

[2013-08-31 01:56] arunoda commented on #26
Can you please help me to debug this?
Can you please modify the SC a bit as shown below.
- File `packages/smart-collections/lib/query.js`
- Line: 147
- Add this line on the top of the function
- console.log('AO', arguments)

---
- File `packages/smart-collections/lib/query.js`
- Line: 199
- Add this at the first line inside the for loop
- console.log('LOOP', key, amatureObservers)

Can you post th

[2013-08-31 02:18] arunoda commented on #26
I've updated with a suggested fix. Try the latest(0.3.3) version too

[2013-08-31 02:28] shinank commented on #26
0.3.3 didnt work.

I added the 2 lines to query.js. Here is the output:
W20130830-21:27:20.186(-5)? (STDERR) /home/shinank/.meteor/tools/3cba50c44a/lib/node_modules/fibers/future.js:173
W20130830-21:27:20.186(-5)? (STDERR)                                            throw(ex);
W20130830-21:27:20.187(-5)? (STDERR)                                                  ^
W20130830-21:27:20.191(-5)? (STDERR

[2013-08-31 02:42] arunoda commented on #26
Seems like this is, some other issue.
Anyway, here the modified file with logs.

Replace `packages/smart-collections/lib/query.js` with this - https://gist.github.com/arunoda/aa5aec1ff2757fa7baa9

[2013-08-31 02:46] shinank commented on #26
I used that file but getting this error when i startup my app
Your app is crashing. Here's the latest log.

W20130830-21:45:28.472(-5)? (STDERR) /home/shinank/.meteor/tools/3cba50c44a/lib/node_modules/fibers/future.js:173
W20130830-21:45:28.473(-5)? (STDERR)                        throw(ex);
W20130830-21:45:28.474(-5)? (STDERR)                              ^
W20130830-21:45:28.485(-5)? (STDERR) Ty

[2013-08-31 03:55] arunoda commented on #26
I really not sure, what's happening here.

Check your spellings on your collections.js file
Check Smart-Collections has been added
do this also
meteor add smart-collections

On Sat, Aug 31, 2013 at 8:16 AM, shinank notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-31 12:57] shinank commented on #26
Ok Sorry for the trouble. I had several isses on my end.
1. I am using 0.3.3 version of SmartCollections
2. I am using the query.js from https://gist.github.com/arunoda/aa5aec1ff2757fa7baa9

Here is the output:
[34mI20130831-07:51:28.589(-5)? [39mLOOP { observer:
[34mI20130831-07:51:28.589(-5)? [39m   { _fields: undefined,
[34mI20130831-07:51:28.589(-5)? [39m     _callbacks: { added: [Functi

[2013-08-31 13:39] arunoda commented on #26
I need the complete log from the start of the app. Can you please paste [here](http://gist.github.com) and send me a link

[2013-08-31 13:52] arunoda commented on #26
Try this version - https://gist.github.com/arunoda/4bcdad426d58542914a0 for the `query.js`

[2013-08-31 19:27] shinank commented on #26
That worked perfectly. No more errors in the log. Thanks!

[2013-09-01 01:08] arunoda commented on #26
Cool. I'll merge this fix in a release :)

On Sun, Sep 1, 2013 at 12:57 AM, shinank notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-01 01:41] arunoda commented on #26
released as 0.3.5

[2013-09-01 01:41] #26 closed, assigned to nobody

[2013-09-01 01:47] shinank commented on #26
Thanks Again! I appreciate your help.

On 8/31/13, Arunoda Susiripala notifications@github.com wrote:

##

Shinan S. Kassam

[2013-09-01 02:05] arunoda commented on #26
Np. It was a bug :)

On Sun, Sep 1, 2013 at 7:17 AM, shinank notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-01 19:18] arunoda commented on #17
published as `0.3.6`

[2013-09-01 19:18] #17 closed, assigned to nobody

[2013-09-01 19:18] #16 closed, assigned to nobody

[2013-09-01 19:20] arunoda commented on #18
Implemented in branch: [writefence-support](https://github.com/arunoda/meteor-smart-collections/tree/writefence-support)
Not completely tested yet.

**No Support for update/remove by selector**
This is very hard to implement with oplog enabled

[2013-09-02 16:25] svasva commented on #14
Hi there! How it is going with query cache?

[2013-09-02 16:35] arunoda commented on #14
Oh, I had work with some other areas of SC, since the major issue got fixed.
I'll come into caching once I finished them.

We can look at caching around 1-2 weeks. Can you pls wait?

On Mon, Sep 2, 2013 at 9:55 PM, Vitaly A. Sorokin
notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/i

[2013-09-02 16:43] svasva commented on #14
sure, no pressure. btw just tried the master branch and it fails on production. forever just keeps restarting the app as it crashes. new-query-engine branch works fine.

[2013-09-02 16:50] arunoda commented on #14
Can you pls find the log, why its get failed?

On Mon, Sep 2, 2013 at 10:13 PM, Vitaly A. Sorokin <notifications@github.com

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-02 16:58] svasva commented on #14
It doesn't say anything useful, just crashes badly:

[code]

[2013-09-02 17:00] arunoda commented on #14
Okay. I will look at it.

On Mon, Sep 2, 2013 at 10:28 PM, Vitaly A. Sorokin <notifications@github.com

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-02 17:13] arunoda commented on #14
Yes. It does crashes, when enabled oplog. Let me see.

[2013-09-02 17:43] svasva commented on #14
Don't you test it with oplog enabled? Should be definitely at least one of the test cases.

[2013-09-02 17:49] arunoda commented on #14
I tested it. This happens when OPLOG URL is not actually is not an replSet
enabled DB.

On Mon, Sep 2, 2013 at 11:13 PM, Vitaly A. Sorokin <notifications@github.com

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-02 17:50] arunoda commented on #14
Or may be some other error, I missed to add an error log, when there is an
error. Working on now.

On Mon, Sep 2, 2013 at 11:18 PM, Arunoda Susiripala <
arunoda.susiripala@gmail.com> wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-02 18:12] svasva commented on #14
I have replSet enabled on my mongo database as it's being backed up to mms
backup service.

On Mon, Sep 2, 2013 at 9:49 PM, Arunoda Susiripala <notifications@github.com

[2013-09-02 18:56] arunoda commented on #14
Got it.
I just enabled logs. You can see some good logs now. Not any other fixes.
Works for me locally(did work earlier too)

Lets see some logs.

[2013-09-02 19:06] svasva commented on #14
Alot of `error getting next object in _forEach undefined`

[2013-09-03 00:55] arunoda commented on #14
Can I get a sample log like you send me previously?

[2013-09-03 09:36] svasva commented on #14
There was nothing in logs but that error popping out many times.

[2013-09-04 00:20] digilord opened #27 "Collection _id Migration"
How do I ensure that I have the correct _id on my collections when I migrate the data from the meteor collection to using smart collections?

[2013-09-04 07:48] arunoda commented on #27
Sc only supports string bases _ids. If your db has string based ids it will
work.

On Wednesday, September 4, 2013, D. Allen Morrigan wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-07 10:53] arunoda commented on #27
Hope I can close this.

[2013-09-07 10:53] #27 closed, assigned to nobody

[2013-09-07 10:54] arunoda opened #28 ".observe() support in SmartCollections"

[2013-09-09 13:53] iplanwebsites commented on #23
Do SmartCollections supports GeoSpatial Querries (ie. $near) on the client-side?
What are the limitation with re-run? The dataset isn't reactive?
Please let me know, I'm dying to implement some module that requires spatial selectors.
Best,

[2013-09-09 14:38] arunoda commented on #23
Yes. Geo partial is not supported at this moment. It is not available on
the client even if you use meteor collections.

You have to use normal collections if you need geo partial support.

On Monday, September 9, 2013, I Plan Websites wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-09 15:32] iplanwebsites commented on #23
Thanks for the answer!
I'll stick to the standard Meteor Collection then and will wait until they finally implement $near selector. Cheers,

On 2013-09-09, at 10:38 AM, Arunoda Susiripala wrote:

[2013-09-09 18:29] arunoda commented on #23
Yep. Thats the solution for now. I can add geo query support but there
won't be any improvement. So better to wait.

On Monday, September 9, 2013, I Plan Websites wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-14 17:48] arunoda opened #29 "Consider field filtering at query level"
Now fields are not consider when caching, but we need to consider that also.

Things to be implemented
- [x] consider fields when doing `initiateQuery` on invalidator
- [x] filter fields when adding it to the query - do field filtering inside `_raw*`
- [x] remove field filtering from observer

[2013-09-14 21:11] arunoda opened #30 "issue with v0.3.11 causing, infinite loop error"
With this v0.3.11 released, there is an infinite error. Which gives this error message.

[code]

Possible fix is on branch: `fix-crash-issue`

[2013-09-14 21:12] arunoda opened #31 "WriteFence support tests"
Writes tests to cover writefence support. Work on `linker` branch.

[2013-09-15 04:26] arunoda commented on #30
Revert back to original oplog logic: 9ab9d92
Waiting for the approval

[2013-09-16 09:52] hypno2000 opened #32 "underscore dependency missing from package.js"
ReferenceError: _ is not defined
at OpQueue._processQueue (packages/smart-collections/lib/op_queue.js:52)

[2013-09-17 03:48] arunoda commented on #30
Confirmed this fixes the issue

[2013-09-17 05:54] arunoda commented on #31
fixed: 5722703

[2013-09-17 05:55] #31 closed, assigned to nobody

[2013-09-17 06:03] arunoda commented on #32
Will publish today with a newer release.

[2013-09-17 10:45] JackAdams opened #33 "In 0.3.12 updates to documents are not always being communicated back to the client correctly"
I've noticed that, since updating to 0.3.12, there have been odd behaviours when making updates to documents. Changes are being made in the database, but these changes are not always being relayed back to the client. So there's a flicker while the latency compensation uses the changed doc on the client but then when the server info comes back, the change is reverted (as if the change was rejected

[2013-09-17 11:30] arunoda commented on #33
Yes. I am aware of this and this is a huge issue. I am working on it.

Will release a fix today or tommorow. In the meantime you can use linker
branch of the smart collections.

On Tuesday, September 17, 2013, JackAdams wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-17 13:41] JackAdams commented on #33
Cool. Thanks for your work on this, Arunoda. I have huge appreciation for all you've been able to achieve with Meteor so far.

[2013-09-17 13:59] arunoda commented on #33
Ha ha. Thanks.
It will better sooner :-)

On Tuesday, September 17, 2013, JackAdams wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-17 18:42] #32 closed, assigned to nobody

[2013-09-17 18:44] arunoda commented on #29
added in 7626bea

[2013-09-17 18:44] #29 closed, assigned to arunoda

[2013-09-17 18:57] arunoda commented on #33
published the fix with new SmartCollections version 0.3.13

[2013-09-17 19:11] arunoda commented on #30
published with the `0.3.13`

[2013-09-17 19:11] #30 closed, assigned to arunoda

[2013-09-17 19:13] arunoda commented on #18
published with `0.3.13`

[2013-09-17 19:13] #18 closed, assigned to nobody

[2013-09-18 03:08] JackAdams commented on #33
Sorry to be the bearer of bad tidings, but I'm still noticing the same behaviour in 0.3.13.

[2013-09-18 03:54] arunoda commented on #33
Hmm.

Okay, I need to peek into what's happening behind the scene of the app.
If you can do followings, it will helps me a lot to fix.
1. Try to find scenario that this show
2. Once you found it
3. Use [DDP Analyzer](http://meteorhacks.com/discover-meteor-ddp-in-realtime.html) to track the DDP Messages
4. Run SmartCollections with debug mode (export DEBUG=sc:\* environment variable)

Send me both

[2013-09-18 05:10] JackAdams commented on #33
I'm on this ... I'll get back to you as soon as I can.  It'll probably be a few hours yet -- my time is all blocked out this afternoon.
Incidentally, I've only tested this (0.3.13) without oplog integration. Is the oplog/replica-set combination now required for Smart Collections to function? (Prior to 0.3.12 Smart Collections gave good performance improvements even without using the replica set an

[2013-09-18 05:22] arunoda commented on #33
Ah nop. You don't need OPLOG. It mostly needed when your app need to be hosted on multiple servers. Let me know how things goes. Happy to help you.

[2013-09-20 20:12] ritikm commented on #33
We've been experiencing the same issue on our side (using SmartCollections v0.3.11 w/ oplog). Does v0.3.15 fix this issue?

Thanks a bunch.

[2013-09-21 00:37] arunoda commented on #33
0.3.15 has a fix. But some people still getting it. For some this works. Im
on another fix too.

On Saturday, September 21, 2013, Ritik Malhotra wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-21 01:55] arunoda commented on #33
Try version `0.3.16`
It has another fix too. Let to know how it goes.

[2013-09-23 19:54] ritikm commented on #33
Just tried 0.3.16, it's causing a different error on database writes:

[code]

It seems to be this addition in the following commit that's causing the issue: https://github.com/arunoda/meteor-smart-collections/commit/a2ddc825646d1cc2bf0de0dfde37e486273b04bf#L4R309. Reverting back to a version before that change doesn't cause the error, but doesn't take advantage of the new fixes that have been mad

[2013-09-23 22:37] JackAdams commented on #33
I'm using 0.3.16 with Meteor 0.6.5.1 and the issue seems to be resolved. I can no longer reproduce the error I was getting.

(I haven't observed the problem Ritik described above.)

[2013-09-24 00:55] arunoda commented on #33
@ritikm use 0.3.18 it has the fix for `0.6.4`

[2013-09-24 02:25] ritikm commented on #33
@arunoda, awesome, thanks for the patch. The client-syncing errors described in this issue were generally non-deterministic, so it's hard to reproduce them 100% of the time. We'll test it out and bring this up again if we do encounter it.

[2013-09-24 02:36] arunoda commented on #33
Yes. I hope those are fixed now. Keep me informed.

On Tuesday, September 24, 2013, Ritik Malhotra wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-26 02:03] arunoda opened #34 "Field Filtering support for nested object"
Check how its performing field filtering support in the nested objects

Currently field filtering only works on the top level fields only. Need support for following
- [x] nested objects
- [ ] $
- [ ] elemMatch
- [ ] slice

If anyone of the above unimplemened features found, throw an error

[2013-09-26 04:46] arunoda commented on #34
Implementation started on branch [`projection-support`](https://github.com/arunoda/meteor-smart-collections/tree/projection-support)

[2013-09-26 09:54] musunuru opened #36 "smartcollections"
hi,I downloaded the package.Can u please guide me how to run a sample  application using smart collections? using standard collection its working well

[2013-09-26 10:04] arunoda commented on #36
Did you follow these steps: https://github.com/arunoda/meteor-smart-collections#install

What do you mean by not running? any errors? show me the error log if so.

[2013-09-26 10:25] musunuru commented on #36
=> Meteor server running on: http://localhost:3000/
W20130926-15:55:21.084(5.5)? (STDERR) /home/560397/Downloads/meteor-smart-collections-master/leaderboard/.meteor/local/build/programs/server/boot.js:184
W20130926-15:55:21.163(5.5)? (STDERR) }).run();
W20130926-15:55:21.164(5.5)? (STDERR)    ^
W20130926-15:55:21.164(5.5)? (STDERR) TypeError: undefined is not a function
W20130926-15:55:21.164(5.5)

[2013-09-26 11:06] arunoda commented on #36
Did you install SmartCollections with

mrt add smart-collections

On Thursday, September 26, 2013, musunuru wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-27 07:27] musunuru commented on #36
when i run meteor i got the follwing eror-
Sorry, this project uses Meteor 0.6.5, which is not installed and
could not be downloaded. Please check to make sure that you are online.

When i come out of smart collections package and check for version meteor --version giving Release 0.6.5.1

[2013-09-27 07:39] arunoda commented on #36
Seems like you don't have an internet connection?

On Fri, Sep 27, 2013 at 12:57 PM, musunuru notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-28 10:56] JackAdams commented on #33
The problem, as originally described, only occurs very, very occasionally. And only after I've left the app inactive long enough to lose the original connection, and even then only occasionally. Doing a browser reload immediately fixes the problem and it doesn't occur again.

[2013-09-28 11:11] arunoda commented on #33
Hmm.
I should give it a try with a disconnection to the server.

On Saturday, September 28, 2013, Brent Abrahams wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-10-03 08:03] arunoda commented on #34
Added nested object support in a548400f16f40b2fd4f9526d907633e9bd54c5d1

[2013-10-08 19:44] jamesmanning opened #37 "support end-to-end tailable smart/capped collections"
tl;dr - tail -n 50 -f [collection]

The original SmartCollections already did the heavy lifting to do create/use a tailable cursor on a capped collection (the oplog).  For scenarios where there are meteor apps surfacing logging information from a capped collection, it seems like it could be efficient/useful to support that end-to-end, such that the meteor server could publish this collection and c

[2013-10-08 20:16] arunoda commented on #37
You can do this with SmartCollection in another way. I'm not quite sure
about the $natural and how it works with Meteor.Collection or
Meteor.SmartCollections.

You can add a timestamp to the doc. Then create a query sort desc with
timestamp and limit 50.
Now when a new document added it will be received to the client and 51th
doc will be removed.
So now you've latest 50 collections all the time in

[2013-10-13 14:45] jamesmanning commented on #37
@arunoda that's what we covered in the SO thread - the main problem with 'reverse and limit' is that the documents are in the wrong order in the initial set, and new documents are added at the front instead of the end.  Since there's no support for 'last N documents from query' instead of 'first N documents from query', this seems to be a limitation of MongoDB I guess.

Is there an efficient way f

[2013-10-13 17:23] jamesmanning opened #38 "capped collections don't stay capped through SmartCollections"
I created a capped collection with count limit of 100:

db.createCollection('last100', {capped : true, size: 1024*1024, max: 100 })

The MongoDB is correctly keeping the total count at 100 as items are added, but the client side is not doing so:

![image](https://f.cloud.github.com/assets/225626/1322238/8659d808-341c-11e3-8cdf-a6ab0b465fa4.png)

Using observeChanges, it appears that only "added" h

[2013-11-06 12:28] JackAdams opened #39 "In 0.3.22 updates to documents are not always being communicated back to the client correctly"
There are still occasional discrepancies between the version of a document in the db and the version in minimongo.  Note: this only happens rarely, but it's confusing for the user when it does happen.  The exact scenario: an update is made to the db document and this update is communicated to all other connected clients, except the client that actually made the update. (It takes a browser refresh

[2013-11-08 05:17] arunoda commented on #39
Yes this is a really heavy issue. I will do another code review this weekend to see if I can find the actual issue.

[2013-11-08 05:38] JackAdams commented on #39
Yeah, I appreciate it's a tough one -- non-deterministic.

Apart from this bug (which my users are being very accepting of) Smart Collections is working great and is the only reason we're able to use my Meteor app in production, serving our whole school.

Thanks for looking into it again.

Brent

---

 From: Arunoda Susiripala notifications@github.com
To: arunoda/meteor-smart-collections meteor-sm

[2013-11-08 05:41] arunoda commented on #39
Wow. Nice.

I had some very busy month. I'll spend my full attention this in the this
weekend and the next week.

On Fri, Nov 8, 2013 at 11:08 AM, Brent Abrahams notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-11-14 14:39] bojan88 commented on #37
@jamesmanning If I understand, you want the newest documents on top, right? With meteor Collection you can do this by sorting the collection: {$natural: -1} or {timestamp: -1} - you have to create timestamp field. But also you have to sort it on client too - {$natural: -1} or {timestamp: -1}

With Smart Collections it's a little bit different. You can publish with $natural sorting, but when it rea

[2013-11-20 14:31] arc41t3ct opened #40 "MongoDB oplog setup and settings for SmartCollections"
SmartCollections uses oplog for finding changes. I have setup oplog by adding the right configuration to /etc/mongodb.conf and is called rs0. How do get SmartCollection to watch the oplog. Or what oplog settings to I need for SmartCollections to recognize it? What is the process of SmartCollections recognizing the oplog?

[2013-11-20 14:32] arc41t3ct commented on #40
I need this to work because I am pushing data in to MongoDB directly but do not see the changes reactively on the Client-Side.

[2013-11-20 15:04] arunoda commented on #40
Refer this - http://meteorhacks.com/lets-scale-meteor.html

On Wed, Nov 20, 2013 at 8:02 PM, Andre Honsberg notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-11-20 15:10] arc41t3ct commented on #40
Ah the missing key... Thanks

[2013-11-22 17:40] cayasso opened #41 "Standalone version for node community"
With your knowledge of Oplog and Mongo have you ever thought about making standalone version of Smart Collection for the node community, I think this would be awesome and would have huge impact.

Think about it, I would be happy to help :-)

JB

[2013-11-22 23:39] marbemac commented on #34
Any idea if slice will be implemented at some point?

[2013-11-25 21:56] bojan88 opened #42 "SmartCollection.allow not compatibile with core Meteor Collections"
Hello,

On my server I have this

[code]

And on client

[code]

With SmartCollection server prints null for userId which is correct (no logged in users), but for doc I get undefined. With Meteor Collection it prints the object with doc_id

[2013-11-25 23:42] arunoda commented on #42
Hmm, weird.

Are you using ObjectId for the _id. (which is not supported)

If not is it possible to show me how to reproduce this locally. (sample
meteor app will be really great)

On Tue, Nov 26, 2013 at 3:26 AM, bojan88 notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-11-25 23:52] arunoda commented on #41
Hi,

You mean getting SmartCollections into meteor core.
If so, meteor is working on Oplog based MongoDB driver. I will be released with Meteor 1.0

[2013-11-25 23:52] #40 closed, assigned to nobody

[2013-11-25 23:54] arunoda commented on #38
SmartCollections does not see different between a capped collection and a normal collection. You need add some limit condition.

[2013-11-25 23:54] #38 closed, assigned to nobody

[2013-11-25 23:57] arunoda commented on #34
Unfortunately not for right now.

[2013-11-26 03:53] bojan88 commented on #42
Maybe the ObjectId caused the error.
I can't reproduce it anymore.

Thanks for your quick answer, I appreciate it

[2013-11-26 03:53] #42 closed, assigned to nobody

[2013-11-26 05:00] cayasso commented on #41
Hey @arunoda I was more referring to a non-meteor version that the node community can use.

[2013-11-26 05:13] arunoda commented on #41
hmm. Good Idea.

Never thought about it. Kind of low-level API. Can you point some usecase or possible API's so we can think about some API.

[2013-11-26 07:38] cayasso commented on #41
Hey @arunoda what about something like this, where the Collection is an in-memory collection powered by mongo `oplog` only the first time you create the collection it fetches all data from MongoDB but then it keeps updated in a smart and efficient way without pulling just depending on the oplog.

[code]

[2013-11-26 07:44] cayasso commented on #41
I forgot to mention that to keep it low level methods like find, select, sort, limit can be abstract methods implemented by default using mongodb but other modules (mongoose, mongoskin, etc) can also be used as drivers.

[2013-11-26 07:45] arunoda commented on #41
Great. I will look for an implementation around this weekend.

On Tue, Nov 26, 2013 at 1:14 PM, Jonathan Brumley
notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-11-26 07:48] cayasso commented on #41
Awesome @arunoda and I hope what I am saying really make sense :-)
I was about to start developing my own oplog thing but now I will wait to see what you come up with.

Let me know if you need any extra hands.

JB

[2013-11-26 07:54] arunoda commented on #41
I'll publish the initial version. We can start changing it afterwise.

On Tue, Nov 26, 2013 at 1:18 PM, Jonathan Brumley
notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-11-26 08:00] cayasso commented on #41
Great!! can't wait to see it!

[2013-11-26 14:21] bojan88 opened #43 "$geoWithin operator support"
Hello,

Is $geoWithin or at least deprecated $within operator supported?

With SmartCollection I'm getting "Exception from sub PRhpASkNubaoSaWz5 Error: Unrecognized operator: $geoWithin". With Meteor Collections it works fine (both $within and $geoWithin)

[2013-11-26 18:32] arunoda commented on #43
see: https://github.com/arunoda/meteor-smart-collections/issues/23

[2013-11-26 18:32] #43 closed, assigned to nobody

[2013-11-27 04:37] rodmanlu opened #44 "update return error and affected count undefined"
i try to update collection with Meteor.Collection ( even with async callback function ) , the return error and count is correct always.
but when i replace Meteor.Collection with Meteor.SmartCollection . all return value change to 'undefined' . what can i do ? or this is bug ?

[2013-11-27 06:04] arunoda commented on #44
Can you demonstrate this with a sample code. Then I can get a better understanding of the issue.

[2013-11-28 02:52] rodmanlu commented on #44
case 1 sync ( n1 is undefined with Smart Collection):
n1 = stkbasic.update({ _id: stk._id }, { $set: one } );
console.log('update id: ' + stk.code + ' - ' + n1 );

case 2 sync ( n2 is undefined with Smart Collection):
up={};
up['y']=year;
up[fld]=val;
n2 = stkbasic.update( { _id: stkId }, { $addToSet : { years : up } });
console.log('update n2:' + n2);

case 3 async ( err and count are undefined w

[2013-11-28 02:56] arunoda commented on #44
Not I got the issue. Yes it is undefined. It's not a bug simply I forgot to implement it.
Will do it.

[2013-11-28 03:15] arunoda commented on #44
Okay, I've released a new version(`0.3.23`)
It has the fix.

[2013-11-29 07:43] rodmanlu commented on #44
thanks. but the version 0.3.23 worked when update successfully.
still return undefined if update fail not value 0

[2013-11-29 23:36] dannychua opened #45 "."
Nothing, please delete :)

[2013-11-30 01:02] arunoda commented on #45
I think it's because of ObjectId.
BTW: There is no delete option in Github Issues :)

[2013-11-30 01:02] #45 closed, assigned to nobody

[2013-12-06 01:56] rcorral opened #46 "Collection methods return empty array, IE fetch(), forEach(), etc..."
I'm declaring a collection like so:

[code]

This file is location at:
/collections/ideas.js

Then I'm executing this function when the page loads:

[code]

The result is an empty array that gets logged to the console. If I execute the same function after the page has loaded, it returns a populated array.

I'm using the latest version v0.3.23

[2013-12-06 02:03] arunoda commented on #46
This is the expected behaviour of Meteor. Run that code inside Deps.autorun

On Friday, December 6, 2013, Rafael Corral wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-12-06 02:13] rcorral commented on #46
Thank you :)

For the record, this helped me out too:
http://stackoverflow.com/questions/20209534/meteor-js-collection-empty-on-client#answer-20240047

[2013-12-06 02:13] #46 closed, assigned to nobody

[2013-12-07 01:03] arunoda commented on #39
Hi, sorry for the late update.

I fixed some few bugs in the invalidations. May be that cause the issues. Can you please try v0.3.24

[2013-12-07 01:22] JackAdams commented on #39
Thanks for this. I'll try it out and let you know how it goes.  I've got a feeling it wasn't the invalidations though, it was the doc in the minimongo collection not matching the doc in the db collection.

[2013-12-07 02:29] arunoda commented on #39
Yep,  than means this only occured if he is the person who is writing to
the db right? If this so this can be a fix.

Anyway I will keep looking into it.

On Saturday, December 7, 2013, Brent Abrahams wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-12-09 03:38] JackAdams commented on #39
Updated to 0.3.24 and we're still noticing this quite regularly -- where the minimongo colllection is updated during latency compensation, the database collection is updated correctly on the server, then when the ddp result comes back to the client who initiated the change, the changes are undone on the client (net result as a user -- you see the desired change flicker briefly and then disappear).

[2013-12-09 04:28] arunoda commented on #39
Thanks for the update. I've a quite complex app in production, I'll try to
see if I can reproduce this.

On Mon, Dec 9, 2013 at 9:08 AM, Brent Abrahams notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-12-20 08:47] arunoda commented on #39
I've added another possible fix. check you please check with version: `v0.3.25`

[2014-01-01 23:45] igalgh commented on #23
I noticed the $near queryop is now working. Is there some sort of a time table to get the other geopartial commands (for example: $geoWithin) working (?)

[2014-01-02 00:16] arunoda commented on #23
I think that's because of mini-mongo(meteor's client mongo implementation)
 have it. I'm not sure when it will be available.

On Thu, Jan 2, 2014 at 5:15 AM, igaltivoni notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-01-06 07:12] #33 closed, assigned to nobody

[2014-01-06 07:15] arunoda commented on #33
is this solves the issue?

[2014-01-06 07:17] JackAdams commented on #33
This is the same issue as #39, so I'm closing it and leaving #39 open (I opened them both -- sorry!).  I'm still testing, but haven't noticed this problem since updating to 0.3.25.

[2014-01-06 07:20] arunoda commented on #33
Okay. Keep watching.

On Mon, Jan 6, 2014 at 12:47 PM, Brent Abrahams notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-01-07 00:48] JackAdams commented on #39
Just observed the same issue a couple of times this morning.  The update gets reverted on the minimongo store on the client that initiated the change (once the DDP result has returned) but the database record is updated correctly and so are all other connected clients once the changes are pushed to them via DDP.  After this, refreshing the browser on the original client will then show the correctl

[2014-01-08 20:11] luciuz opened #47 "Aggregate SmartCollection?"
https://github.com/meteor/meteor/pull/644 doesn't work with SmartCollections. =\

[2014-01-08 23:26] jonjamz commented on #41
+1 this looks pretty exciting.

[2014-01-09 00:01] cayasso commented on #41
In the mean time I published this [mongo-oplog](https://github.com/cayasso/mongo-oplog) but I am still looking forward for a full featured implementation.

[2014-01-09 00:03] cayasso commented on #41
@arunoda I know you are very busy, have you done any progress on this?

[2014-01-09 00:09] arunoda commented on #41
Hey. Sry for not working on this. What you build is very well good. Let me
if you found some issues which are harder to fix.
I think that way will work well.

On Thursday, January 9, 2014, Jonathan Brumley wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-01-09 02:52] arunoda commented on #47
You don't need SmartCollections for that. Use as it says. It deals with the
direct mongo commands.

On Thursday, January 9, 2014, Luciuz wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-01-09 06:42] luciuz commented on #47
Teach me how

[2014-01-11 12:08] luciuz commented on #47
-.-

[2014-01-16 22:26] luciuz commented on #47
ANSWER:

[code]

[2014-01-16 22:26] #47 closed, assigned to nobody

[2014-02-09 11:42] testbird opened #48 "horizontal scaling: current state and future?"
Hi there!
In searching for scaling options I came across some update notes saying:
- smart-collection is a better way to scale meteor than meteor-cluster http://meteorhacks.com/meteor-cluster-introduction-and-how-it-works.html
- smart-collection's oplog feature is now part of the stock meteor http://meteorhacks.com/lets-scale-meteor.html

Now, this left me puzzled about the future of scaling to mu

[2014-02-25 08:31] Lepozepo opened #49 "Update to Meteor 0.7.1.1"
Hi, just updated to the latest version of meteor, apparently subscribing to a smart collection is causing this issue:

![screen shot 2014-02-25 at 12 28 53 am](https://f.cloud.github.com/assets/2302110/2255503/f21a3b98-9df6-11e3-90f9-8983081b5def.png)

Awkwardly enough that doesn't happen when the collection is a Collection2 Smart collection. Is there an easy fix for this?

Thank you

[2014-02-25 08:42] Lepozepo commented on #49
Just read the changelog on Collection2, is Smart Collections deprecating?

[2014-02-25 09:00] arunoda commented on #49
Yes. Since Meteor.Collection now has most of the smart-collections features and its much stable.

[2014-02-25 09:01] Lepozepo commented on #49
Excellent, thank you

[2014-02-25 09:01] #49 closed, assigned to nobody

[2014-03-18 20:27] luciuz opened #51 "Is smart-collections compatible with Meteor 0.7.1.2?"
Hello

Here the problem is:

W20140319-00:23:38.627(4)? (STDERR) } has no method '_compileSelector'
W20140319-00:23:38.627(4)? (STDERR)     at new Query (packages/smart-collections/lib/query.js:8)
W20140319-00:23:38.628(4)? (STDERR)     at Invalidator.initiateQuery (packages/smart-collections/lib/invalidator.js:55)
W20140319-00:23:38.628(4)? (STDERR)     at SmartCollection.find (packages/smart-col

[2014-03-19 06:39] arunoda commented on #51
Nope. There is no reason to use SmartCollection anymore. Meteor 0.7.x (specially 0.7.2) has the same performance.

[2014-03-19 06:41] luciuz commented on #51
Okay. it's all that I want to know.

[2014-03-19 06:41] #51 closed, assigned to nobody

[2014-03-25 23:21] Samsy commented on #51
It should be good idea to warn Meteor user that it is not useful anymore to use smart collection.
I mean in official website or something
I tried for a day to install it for 0.7.2 after reading this post !

[2014-03-26 01:08] arunoda commented on #51
I just update readme and all the blogs related.
Okay adding a warning message to the package is also a good idea.

On Wednesday, March 26, 2014, Honigstein Samuel notifications@github.com
wrote:

##

---

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-03-26 16:30] ashburnham commented on #14
Um, I'm now getting the `error getting next object in _forEach undefined` error a lot and it's crashing my app. Even when I roll back to versions from before it became an issue it still won't deploy properly. Any ideas? My app is using Smart Collections v0.4.0

[2014-03-26 16:33] arunoda commented on #14
Please use Meteor's Collection implementation comes with 0.7.2. It is
totally far with the SC level of performance.
And SC is now retired.

---

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

On Wed, Mar 26, 2014 at 10:00 PM, Will Swannell notifications@github.comwrote:

[2014-05-15 06:33] dkarigithu opened #52 "TokuMX version of MongoDB"
Hello,

In my pursuit of looking for MongoDB transactions I stumbled upon TokuMX: http://www.tokutek.com/products/tokumx-for-mongodb/; a MongoDB fork that provides for some interesting implementation of ACID transactions as well as some performance improvements. Needless to say I was intrigued, however, there was one caveat they modified the MongoDB Oplog format to accommodate transactions so some

[2014-06-02 22:33] TimoRuetten opened #53 "Simply db.find() in publish does not work"
Hey there!

I am using the lates version of smart-collections and want to test it.

I read the "documentation" of this package - maybe i need a sample - but in my case it does not work.

First what i did:

app/collections/collections.js

[code]

app/server/publishs.js

[code]

app/client/env.js

[code]

Error output (shorted):

[code]

When I remove the subscribtion no error is shown. When i chang

[2014-11-17 05:34] dandv opened #54 "Retire package from Atmosphere"
[code]

so it won't show at https://atmospherejs.com/arunoda/smart-collections

[2014-11-17 06:07] arunoda commented on #54
Done. Thanks.

---

Arunoda Susiripala
I curate Meteor Weekly - Check it out!
http://meteorhacks.com/meteor-weekly/?utm_source=email-footer&utm_medium=email&utm_campaign=meteorweekly

On Mon, Nov 17, 2014 at 11:04 AM, Dan Dascalescu notifications@github.com
wrote:

[2015-10-27 12:19] anupnitkkr commented on #53
Same Issue I am also Facing  .. findOne is working not find  is giving same error ...!!

[2015-10-27 12:21] anupnitkkr opened #55 "find query is not working while using Meteor smart Collections"
Hey there!

I am using the lates version of smart-collections and want to test it.

I read the "documentation" of this package - maybe i need a sample - but in my case it does not work.

First what i did:

app/collections/collections.js

MyCollection = new SmartCollection('Test');
app/server/publishs.js

Meteor.publish('test', function(){
     return MyCollection.find();
});
app/client/env.js

Met

[2015-10-27 13:11] TimoRuetten commented on #55
@anupnitkkr It seems that the project is deprecated - as it says at the readme: "Smart Collection is now retired & Meteor's Collection implementation has fixes for most of the performance bottlenecks."

So just use the default Meteor way for Collections.

[2015-10-27 13:15] #53 closed, assigned to nobody

[2015-10-27 13:18] anupnitkkr commented on #53
@TimoRuetten  : can you tell me the solution  , you have closed the Issue  .. !!

[2015-10-27 13:21] anupnitkkr commented on #55
@TimoRuetten  : Currently I am using Default Meteor way . for performance  . I was thinking that  smart-collection can reduce long polling for pub/sub   .  If you have any solution , Can you tell me

[2015-10-27 15:02] TimoRuetten commented on #55
@anupnitkkr SmartCollection will not boost the Collections in Meteor anymore. You have to remove the SmartCollection package because what SmartCollection has done to boost is Meteor doing now by itself.

[2016-03-01 05:58] hareshlanover opened #56 "No compatible binary build found for this package"
The atmosphere seems to be missing binary build. When I try to add package. I'm seeing:

$ meteor add arunoda:smart-collections
=> Errors while adding packages:

While checking for arunoda:smart-collections@0.4.9
error: No compatible binary build found for this package. Contact the package author and ask them to publish it for your platform.

[2016-03-01 07:47] arunoda commented on #56
Do not use this project.
See: https://github.com/arunoda/meteor-smart-collections#this-is-a-archived-project

[2016-03-01 07:47] #56 closed, assigned to nobody